.name{
    font-size: 18px;
    margin: 0px;
    font-weight: 500;
}

.profile_pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    margin-right: 10px;
    object-fit: cover;
}
.img_large{
    width: 70px;
    height: 70px
}
.grey{
    color: grey;
}

.hide{
    display: none;
}

.card_container{
    display:  flex;
    padding: 10px;
    align-items: center;
    background-color: white;
}

.contact_details > p{
    margin: 4px;
}